################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ON/ShanshanYu/Module2/HelloForm/.vs/HelloForm/v16
/ON/ShanshanYu/Module2/HelloForm/bin/Debug
/ON/ShanshanYu/Module2/HelloForm/obj/Debug
