################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ON/RichardGary/Module 01/MultiDimensionalArray/.vs/MultiDimensionalArray/v15
